/*整体部分*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/*滑动轨道*/
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: none;
}

/*滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2570c4;
}

/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: #2570c4;
}

body {
  overflow: hidden;
}

.elementClick {
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  border: none !important;
}

a {
  box-shadow: none !important;
  text-decoration: none !important;
  outline: none !important;
}

.ShowPText {
  position: relative;
}

.ShowPText::before {
  position: absolute;
  content: '•';
  left: -1vw;
}
